In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../../data/backtest/2025-09-19 14:59:20_backtest_history.csv')
df['returns'] = df['Total'].pct_change()
df

,Date,Total,USD,USDSEK=X,USDHKD=X,USDCAD=X,USDEUR=X,USDAUD=X,USDDKK=X,USDNZD=X,USDNOK=X,USDSGD=X,USDCNY=X,USDCHF=X,USDJPY=X,USDGBP=X,returns
0,2015-01-05,9944.414787,9944.414787,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
1,2015-01-06,9944.959701,9944.959701,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000055
2,2015-01-07,9945.504646,9945.504646,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000055
3,2015-01-08,9946.049620,9946.049620,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000055
4,2015-01-09,9946.594624,9946.594624,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1247,2019-12-24,11160.772112,11160.772112,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000055
1248,2019-12-26,11161.995277,11161.995277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000110
1249,2019-12-27,11162.606910,0.000000,8075.158879,6687.174310,1125.534204,773.491382,1236.129908,5775.360939,1286.825274,7624.232236,1162.113239,6007.457630,842.751052,94059.560314,660.397007,0.000055
1250,2019-12-30,11216.892625,0.000000,8046.860947,6719.203549,1128.022515,771.610046,1235.626998,5763.550035,1286.586184,7597.978307,1166.669050,6035.378581,840.153886,94418.626305,659.061474,0.004863
1251,2019-12-31,11238.278044,11238.278044,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001907

In [3]:
mu = df['returns'].mean()
sigma = df['returns'].std()
print(mu/sigma * np.sqrt(12))

0.15014466577009053